services:
  - type: web
    name: midosis-voice-backend
    env: python
    region: oregon
    plan: free
    branch: main

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements_backend.txt

    startCommand: |
      uvicorn main:app --host 0.0.0.0 --port 10000

    envVars:
      - key: PYTHON_VERSION
        value: 3.10.13
      - key: NODEJS_SERVER_URL
        value: https://midosis.onrender.com
      - key: ONESIGNAL_APP_ID
        value: a06e24c0-d853-453a-8067-3af7606bd7a7

    healthCheckPath: /health
    autoDeploy: true
